---
export type Props = {
  classId: string;
  label: string;
  class?: string;
  disabled?: boolean;
};

const { classId, class: className, label, disabled } = Astro.props;
---

<button
  disabled={disabled}
  class:list={["btn btn-xs md:btn-md", classId, className]}
>
  <span class="sr-only">{label}</span>
  <slot />
</button>
